.home-container {
    padding-top: 50px;
}

p-orderList >>> .ui-orderlist-list-container {
    width: 100% !important;
}

p-orderList >>> .ui-orderlist-controls {
    display: none !important;
}

p-orderList >>> .ui-orderlist, p-orderList >>> .ui-orderlist-list {
    height: 400px;
}

p-orderList >>> .ui-orderlist .color-green {
    color: #5cb85c;
}

p-orderList >>> .ui-orderlist .color-orange {
    color: #f0ad4e;
}

p-orderList >>> .ui-orderlist .color-red {
    color: #d9534f;
}

p-orderList >>> .ui-orderlist .log-wrapper {
    display: inline-flex;
    width: 100%;
    margin-top: 0;
}

p-orderList >>> .ui-orderlist .log-wrapper div {
    float: left;
    margin-left: 10px;
}

p-orderList >>> .ui-orderlist .insert-date-column {
    max-width: 208px;
}

p-orderList >>> .ui-orderlist .stack-trace {
    min-width: 130px;
    max-width: 230px;
    word-wrap: break-word;
}
